$bg: #f0f0f0;
$text-color: #2a2a2a;
$accent: #cc0000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$navbar-height: 56px;

$font-xs: 0.8rem;
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2.5rem;
$font-xl: 3.5rem;

$section-spacing: 56px;
