@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap");
@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: $text-color;
  background-color: $bg;
  font-size: $font-sm;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  scroll-margin-top: 56px;
  padding-top: $navbar-height;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  color: $accent;
  background-color: transparent;
}

/* for firefox */
::moz-selection {
  color: $accent;
  background-color: transparent;
}

.line {
  overflow: hidden;
}

#hero-text {
  span:last-child div:last-child .char:last-child {
    color: $accent;
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-color;
}
