@import "./variables";

.heading {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 24px;
  text-transform: uppercase;

  p {
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    margin-right: 8px;
    font-weight: bolder;
    font-size: $font-sm;
    margin-bottom: 12px;
  }

  p:nth-child(1) {
    font-size: $font-sm;
    line-height: $font-sm;
  }

  p:nth-child(2) {
    font-size: $font-xs;
    font-weight: normal;
    font-style: italic;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: $text-color;
    height: 1px;
    left: 0;
    bottom: 0;
  }
}
