@import "./variables";

.navbar {
  height: $navbar-height;
  font-size: $font-xs;
  background-color: $bg;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  visibility: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navbar nav div {
  display: inline-block;
}

.navbar nav a {
  margin-left: 1rem;
}

.menuBtn {
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  display: none;
  background-color: transparent;
}

@media (max-width: 640px) {
  .menuBtn {
    display: block;
  }

  .menuItem {
    display: none;
  }
}
